$url : "http://pje9978.ipdisk.co.kr:8000/list/HDD2/work/images/portfolio-design/";
// variables
$imgPath:"../../images/portfolio-design";

// index gallery image url
$galleryThumbUrls: (
  thumb-flip-glass,
  thumb-flip-luster,
  thumb-ip-jelly,
  thumb-watch-case,
  thumb-buds-silicone,
  thumb-pencil,
  thumb-flip-pard,
  thumb-airpod-silicone,
  thumb-ip-silicone,
  thumb-buds-jelly
);

$galleryDtlUrls: (
  dtl-flip-glass,
  dtl-flip-luster,
  dtl-ip-jelly,
  dtl-watch-case,
  dtl-buds-silicone,
  dtl-pencil,
  dtl-flip-pard,
  dtl-airpod-silicone,
  dtl-ip-silicone,
  dtl-buds-jelly
);
.slide {
  @each $galleryThumbUrl in $galleryThumbUrls {
    $i: index($galleryThumbUrls, $galleryThumbUrl);
    &:nth-child(#{$i}) {
      .slide__img {
        background-image: url("#{$imgPath}/#{$galleryThumbUrl}.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
